html{
  box-sizing: border-box;
  background: url("oh-la-la.jpeg") center no-repeat;
  object-fit: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

*,
*:before,
*:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

svg{
  fill: white;
  border-radius:50%;
  padding: 20px;
  background: rgba(0,0,0,0.1);
  margin-bottom: 50px;
  width: 300px;
}
.wrapper{
  max-width: 800px;
  min-width: 350px;
  padding: 20px;
  margin-top: -40px;
  background: rgb(255,255,255,0.95);
  box-shadow: 0 0 0 10px rgba(0,0,0,0.2);
}

h2{
  text-align: center;
  font-weight: 800;
  margin: 0;
}
.plates{
  text-align: left;
  list-style: none;
}

.plates li{
  font-weight: 100;
  padding: 10px 0;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  display: flex;
}

.plates label{
  flex: 1;
}

.plates input {
  display: none;
}

.plates input + label:before{
  content : "⬜️";
  margin-right: 10px;
}

.plates input:checked + label:before{
  content:"🌮";
}

.add-items {
  margin-top: 20px;
  display: flex;
}

.add-items input {
  font-size: 15px;
  padding: 10px;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.add-items input:first-child{
  flex: 1;
  margin-right: 10px;
}

.buttons{
  display: flex;
  margin-top: 20px;
  gap: 0.5rem;
  font-size: 20px;
}
button{
  font-size: 15px;
  flex: 1;
  padding: 10px;
}
